<div class="row">
    <div>
        <div class="col-xs-12 col-sm-12">
            <div class="contact">
                <span class="contact-cust-service-label">Contact Customer Support:</span>
                <span class="contact-phone"><img class="phone-icon" src="src/app/assets/img/phone-icon.png">&nbsp;1 800 859 5965, Option 2</span>
                <span class="contact-link"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="daysofweek">24 hours a day/7 days a week/365 days a year</p>
            </div>
        </div>
    </div>
</div>