<div class="row">
    <div>
        <div class="col-xs-12 col-sm-12">
            <div class="contact">
                <div class="contact-cust-service-label col-xs-12 col-sm-6 col-md-6 col-md-6">Contact Customer Support:</div>
                <div class="contact-phone col-xs-12 col-sm-6 col-md-6 col-md-6"><img class="phone-icon" src="src/app/assets/img/phone-icon.png">&nbsp;1 800 859 5965, Option 2
                    <div class="col-xs-12 daysofweek">
                        <p>24 hours a day/7 days a week/365 days a year</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>