<!--Hero Section with Update EMV Button -->
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="jumbotron">
            <div class="hero-layer"></div>
            <p class="hero-text" align="center">Get ready to accept EMV&reg; chip cards</p>
            <p class="hero-footer-text">We have you covered. Protect your business. Avoid fraud responsibility.</p>
            <p align="center"><a ui-sref="getUpdate" class="btn btn-primary">Get The EMV Update</a></p>
        </div>
    </div>
    <div class="col-sm-4 hero-right-col">
        <div class="row hero-right-block">
            <div class="hero-right-bars">
                <a ui-sref="act-today"><p class="hero-choices">&gt Why you should act today</p></a>
                <a ui-sref="testimonials"><p class="hero-choices">&gt Customer Testimonials</p></a>
            </div>
        </div>

    </div>
</div>


<!--Info Section -->
<div class="row">
    <!--Sticky Sidebar -->

    <div class="col-sm-1"></div>
    <div class="col-md-11">
        <div id="act-today" class="lead-text">Why You Should Act Today</div>
    </div>
</div>
<!--Transactions collage info -->
<div class="top-container">
    <div class="row">
        <div class="col-sm-6">
            <div><img  class="collage-left-image" src="src/app/assets/img/transactions-collage/cc.png"></div>
        </div>
        <div class="col-sm-6">
            <div class="top-right-grey-box">
                <div class="right-paragraph-container">
                    <div class="right-paragraph-header">Reduce fraud responsibility</div>
                    <p align="justified" class="right-paragraph">When you enable chip card technology you greatly reduce
                     your responsibility for fraudulent chip card transactions. Update your terminal now.</p>
                </div>
               <!-- <div class="get-emv-update-page-btn">
                    <div class="act-now-label visible-xs-block">Act now</div>
                    <a class="btn btn-default visible-xs-block emv-img-btn"><img src="src/app/assets/img/get-emv-update.png"></a>
                </div>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="left-grey-box">
                <div class="left-paragraph-container">
                    <div class="left-paragraph-header">A new standard for fraud protection</div>
                    <p align="justified" class="left-paragraph">Almost half of the world’s credit card fraud happens in the United States. By the end of 2017 it is expected that 98 percent of US credit and debit cards will contain EMV chips.</p>
                </div>
               <!-- <div class="learn-more-btn">
                    <div class="act-now-label visible-xs-block">Learn More</div>
                    <a class="btn btn-default faq-btn visible-xs-block"><img src="src/app/assets/img/doc-icon.png">&nbsp FAQs</a>
                </div>-->
            </div>
        </div>
        <div class="col-sm-6">
            <img src="src/app/assets/img/transactions-collage/FL_Image.png" class="fl-image">
        </div>
    </div>
    <!--Automatic updates row -->
    <div class="row update-container">
        <div class="col-sm-6 col-md-6">
            <img src="src/app/assets/img/transactions-collage/touchpad.png" class="collage-touchpad">
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="right-grey-box">
                <div class="right-paragraph-container">
                    <div class="right-paragraph-header">Auto updates</div>
                    <p align="justified" class="right-paragraph">After you manually update your VX 520
                        payment terminal to accept chip cards, all subsequent security updates will be automatically pushed by Worldpay.</p>
                </div>
               <!-- <div class="get-emv-update-page-btn">
                    <div class="act-now-label visible-xs-block">Get the update</div>
                    <a class="btn btn-default emv-img-btn visible-xs-block"><img src="src/app/assets/img/get-emv-update.png"></a>
                </div>-->
            </div>
        </div>
    </div>
</div>


<!--Get EMV Update Button -->
<!--<a class="btn btn-default getEMVUpdateBTN">Get The EMV Update</a>-->

<div class="row">
    <!--How To -->
    <div class="how-to-container">
        <div class="row">
            <div class="col-sm-11 col-sm-offset-1">
                <div id="getUpdate" class="how-to-lead">Update your VX 520 terminal software</div>
            </div>
        </div>
        <div class="row">
            <!--left side-->
            <div class="col-sm-2 col-sm-offset-1">
                <div class="ip-connection-update">
                    <img src="src/app/assets/img/how-to/gl3-icon.png" class="gl1 img-responsive"/>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ip-update-instructions">
                    <span class="bullet"></span><p class="bullet-align">This update is for users with an IP internet connection.</p>
                    <span class="bullet"></span><p class="bullet-align"><a class="not-sure-link" ng-click="notSureOfConnection()">Not sure of your connection type?</a></p>
                    <span class="bullet"></span><p class="bullet-align">Time to complete update IP Connection <strong>- up to 10 minutes</strong></p>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="right-side-ip">
                    <p class="ip-block">EMV Software Update</p>
                    <div class="sm-divider"><img class="ip-img" src="src/app/assets/img/sm-divider.png"></div>
                    <a class="right-side-styles" ui-sref="tutorial"><p class="ip-block-light"> Watch the online tutorial &nbsp <img src="src/app/assets/img/tutorial-play.png"></p></a>
                    <div class="sm-divider"><img class="ip-img" src="src/app/assets/img/sm-divider.png"></div>
                    <a class="right-side-styles" target="_blank" href="src/app/assets/pdf/download-instructions.pdf"  onclick="ga('send','event','pdf download','Download instructions',{‘NonInteraction’: 1})" ><p class="ip-block-light">Print instructions &nbsp <img src="src/app/assets/img/printer-icon.png"></p></a>
                    <div class="sm-divider"><img class="ip-img" src="src/app/assets/img/sm-divider.png"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Customer Testimonials-->
<div id="testimonials" class="testimonials-container">
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1">
            <div class="testimonials-heading">
                Customer Testimonials
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 testimonials-box">
        <div class="quotation-icon"></div>
        <div class="testimony-paragraphs">
            <div class="testimony">Oh, this is really easy ... don't change it. This was very easy!</div>
            <div class="customer-type">- Subcontractor</div>
            <br>
            <img src="src/app/assets/img/how-to/divider.png" class="testimonials-divider visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"/>
            <div class="testimony">Understandable – the whole thing was really easy.  No problem.</div>
            <div class="customer-type">- Restaurant Owner</div>
            <br>
            <img src="src/app/assets/img/how-to/divider.png" class="testimonials-divider visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"/>
            <br>
            <div class="testimony">In the beginning, I thought it was going to be a longer process. It was simple. I thought it would be cumbersome … anyone can do this with no problem. No computer skills needed. </div>
            <div class="customer-type">- Business Manager</div>
            <br>
            <img src="src/app/assets/img/how-to/divider.png" class="testimonials-divider visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"/>
            <div class="testimony">I am not a computer person, so if I can do this, anybody can do this!</div>
            <div class="customer-type">- Dental Professional</div>
            <br>
            <img src="src/app/assets/img/how-to/divider.png" class="testimonials-divider visible-sm-inline-block visible-md-inline-block visible-lg-inline-block"/>
            <div class="testimony">This is great. I love it! I did it myself without having to call Worldpay. </div>
            <div class="customer-type">- Medical Professional</div>
            <div class="bottom-quotation-icon"></div>

        </div>


    </div>
</div>

<!-- Tell us section-->
<!-- <div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="tell-us">
            <div class="p-tells-us">
                <p class="tell-us-heading">Tell us about your payment terminal update</p>
                <p class="tell-us-paragraph">How was your payment terminal update experience? Please help us
                    serve you better by taking 2 minutes to complete our survey.</p>
                <div class="survey-btn-container">
                    <a target="_blank" href="https://www.surveymonkey.com/r/5SJG5BT" class="btn btn-default survey-btn">Take the survey</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Ready for update template-->
<div data-ng-include="'src/app/js/components/templates/ready-for-update.html'"></div>
<!-- Need help sticky-->
<div data-ng-include="'src/app/js/components/Help/templates/need-help-sticky.html'"></div>
<div class="ft-contact-container" data-ng-include="'src/app/js/components/templates/contact-customer-service.html'"></div>
<!--Get EMV Update Button -->
<!--
<a class="btn btn-default footer-emv-update-btn">Get The EMV Update</a>-->
