<!-- Tell us section-->
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="tell-us">
            <div class="p-tells-us">
                <p class="tell-us-heading">Tell us about your payment terminal update</p>
                <p class="tell-us-paragraph">How was your payment terminal update experience? Please help us
                    serve you better by taking 2 minutes to complete our survey.</p>
                <div class="survey-btn-container">
                    <a target="_blank" href="https://www.surveymonkey.com/r/5SJG5BT" class="btn btn-default survey-btn">Take the survey</a>
                </div>
            </div>
        </div>
    </div>
</div>