

<div id="EMV" >
    <div ng-click="frameClick($event)" style="display:block; position:relative; height: 100%">

        <div id="pusher"></div>

        <script>
            var ms = function(e){
                var h = $('#frame').height();
                $('#pusher').css('height',h);
                $('.arrow').css('height',(h/1080.0)*313*1.4);
            };
            $(function(){window.setTimeout(ms,100);$(window).resize(ms);});
        </script>

        <div style="position: absolute; z-index: 1; left: 0; top: 0;">
            <img id="frame" src="src/app/assets/ipFrames/Cover_1.jpg" width="100%"></img>
            <div style="position: absolute; top: 25%; width: 100%">
                <img class="arrow" ng-hide="fi == 0" ng-click="goBack($event)" src="src/app/assets/ipFrames/arrows/left-arrow.png">
                <img class="arrow" ng-hide="!frozen && !restart" ng-click="goForward($event)" style="float: right;" src="src/app/assets/ipFrames/arrows/right-arrow.png">
            </div>
        </div>

    </div>

</div>

<div id="myCanvas" width="578" height="200"></div>



<script>

   /* var audio = new Audio('src/app/assets/ipFrames/1_3.mp4');
    var frameObj = {
        image: '',
        audio: '',
        ended:''
    };

    function frameClick(event){
        var event = event || window.event;
        var frame = document.getElementById("frame");

        var source = frame.src;



        if(contains(source, 'Cover_1')){

            frame.src = "src/app/assets/ipFrames/Cover_2.jpg";

        }

        else if(contains(source, 'Cover_2')){

            frame.src = "src/app/assets/ipFrames/Step_1_0.jpg";

            audio.pause();

            audio.src = 'src/app/assets/ipFrames/1_0.mp4';

            audio.load();

            audio.play();

            audio.onended = function() {

                audio.onended = null;

                frame.src = "src/app/assets/ipFrames/Step_1_1.jpg";

                audio.src = 'src/app/assets/ipFrames/1_1.mp4';

                audio.pause();

                audio.load();

                audio.play();

            };

            audio.play();

        }

        else if(contains(source, 'Step_1_1')){

            if(onInstructionsClick(event,this)){ return; }

            onCheckboxClick(event,this)

        }

        else if(contains(source, 'Step_1_2')){

            if(onInstructionsClick(event,this)){ return; }

            frame.src = "src/app/assets/ipFrames/Step_1_3.jpg";

            audio.pause();

            audio = new Audio('src/app/assets/ipFrames/1_3.mp4');

            audio.play();

        }

        else if(contains(source, 'Step_1_3')){

            if(onInstructionsClick(event,this)){ return; }

            frame.src = "src/app/assets/ipFrames/Step_2_0.jpg";

            audio.pause();

            audio = new Audio('src/app/assets/ipFrames/2_0.mp4');

            audio.play();

        }

        else if(contains(source, 'Step_2_0')){

            if(onRestartClick(event,this)){ return; }

            frame.src = "src/app/assets/ipFrames/Step_3_0.jpg";

            audio.pause();

            audio = new Audio('src/app/assets/ipFrames/3_0.mp4');

            audio.play();

            setTimeout(show_3_1,2000);

        }

        else if(contains(source, 'Step_3_1')){

            if(onRestartClick(event,this)){ return; }

            frame.src = "src/app/assets/ipFrames/Step_4_0.jpg";

            audio.pause();

            audio = new Audio('src/app/assets/ipFrames/4_0.mp4');

            audio.play();

        }

        else if(contains(source, 'Step_4_0')){

            if(onRestartClick(event,this)){ return; }

            frame.src = "src/app/assets/ipFrames/Step_5_0.jpg";

            audio.pause();

            audio = new Audio('src/app/assets/ipFrames/5_0.mp4');

            audio.play();

            setTimeout(show_5_1,3500);

        }

        else if(contains(source, 'Step_5_2')){

            if(onRestartClick(event,this)){ return; }

            frame.src = "src/app/assets/ipFrames/Step_6_0.jpg";

            audio.pause();

            audio = new Audio('src/app/assets/ipFrames/6_0.mp4');

            audio.play();

        }

        else if(contains(source, 'Step_6_0')){

            if(onRestartClick(event,this)){ return; }

            frame.src = "src/app/assets/ipFrames/Step_7_0.jpg";

            audio.pause();

            audio = new Audio('src/app/assets/ipFrames/7_0.mp4');

            audio.play();

            setTimeout(show_7_1,3500);

        }

        else if(contains(source, 'Step_7_2')){

            if(onRestartClick(event,this)){ return; }

            frame.src = "src/app/assets/ipFrames/Step_8_0.jpg";

            audio.pause();

            audio = new Audio('src/app/assets/ipFrames/8_0.mp4');

            audio.play();

            setTimeout(show_8_1,2000);

        }

        else if(contains(source, 'Step_8_1')){

            if(onRestartClick(event,this)){ return; }

            frame.src = "src/app/assets/ipFrames/Step_9_0.jpg";

            audio.pause();

            audio = new Audio('src/app/assets/ipFrames/9_0.mp4');

            audio.play();

            setTimeout(show_9_1,2000);

        }

        else if(contains(source, 'Step_9_1')){

            if(onRestartClick(event,this)){ return; }

            frame.src = "src/app/assets/ipFrames/Step_10_0.jpg";

            audio.pause();

            audio = new Audio('src/app/assets/ipFrames/10_0.mp4');

            audio.play();

            setTimeout(show_10_1,2000);

        }

        else if(contains(source, 'Step_10_1')){

            if(onRestartClick(event,this)){ return; }

            frame.src = "src/app/assets/ipFrames/Step_11_0.jpg";

            audio.pause();

            audio = new Audio('src/app/assets/ipFrames/11_0.mp4');

            audio.play();

            setTimeout(show_11_1,2500);

        }

        else if(contains(source, 'Step_11_2')){

            if(onRestartClick(event,this)){ return; }

            frame.src = "src/app/assets/ipFrames/Step_12_0.jpg";

            audio.pause();

            audio = new Audio('src/app/assets/ipFrames/12_0.mp4');

            audio.play();

            setTimeout(show_12_1,3500);

        }

        else if(contains(source, 'Step_12_3')){

            if(onRestartClick(event,this)){ return; }

            frame.src = "src/app/assets/ipFrames/Step_13_0.jpg";

            audio.pause();

            audio = new Audio('src/app/assets/ipFrames/13_0.mp4');

            audio.play();

            setTimeout(show_13_1,20000);

        }

    }



    function openSurvey(){

        window.open("https://www.surveymonkey.com/r/5SJG5BT", "_blank")

    }

    function show_cover_1(){

        frame.src = "src/app/assets/ipFrames/Cover_1.jpg";

        audio.pause();

    }

    function show_1_2(){

        frame.src = "src/app/assets/ipFrames/Step_1_2.jpg";

    }

    function show_3_1(){

        frame.src = "src/app/assets/ipFrames/Step_3_1.jpg";

    }

    function show_5_1(){

        frame.src = "src/app/assets/ipFrames/Step_5_1.jpg";

        setTimeout(show_5_2,3500);

    }

    function show_5_2(){

        frame.src = "src/app/assets/ipFrames/Step_5_2.jpg";

    }

    function show_7_1(){

        frame.src = "src/app/assets/ipFrames/Step_7_1.jpg";

        setTimeout(show_7_2,1000);

    }

    function show_7_2(){

        frame.src = "src/app/assets/ipFrames/Step_7_2.jpg";

    }

    function show_8_1(){

        frame.src = "src/app/assets/ipFrames/Step_8_1.jpg";

    }

    function show_9_1(){

        frame.src = "src/app/assets/ipFrames/Step_9_1.jpg";

    }

    function show_10_1(){

        frame.src = "src/app/assets/ipFrames/Step_10_1.jpg";

    }

    function show_11_1(){

        frame.src = "src/app/assets/ipFrames/Step_11_1.jpg";

        setTimeout(show_11_2,2000);

    }

    function show_11_2(){

        frame.src = "src/app/assets/ipFrames/Step_11_2.jpg";

    }

    function show_12_1(){

        frame.src = "src/app/assets/ipFrames/Step_12_1.jpg";

        setTimeout(show_12_2,3500);

    }

    function show_12_2(){

        frame.src = "src/app/assets/ipFrames/Step_12_2.jpg";

        setTimeout(show_12_3,2000);

    }

    function show_12_3(){

        frame.src = "src/app/assets/ipFrames/Step_12_3.jpg";

    }

    function show_13_1(){

        frame.src = "src/app/assets/ipFrames/Step_13_1.jpg";

        setTimeout(openSurvey,3000);

    }



    function onCheckboxClick(event,img) {

        var posX = event.offsetX?(event.offsetX):event.pageX-img.offsetLeft;

        var posY = event.offsetY?(event.offsetY):event.pageY-img.offsetTop;



        var frame = document.getElementById("frame");



        var imageHeight = 1080;

        var imageWidth = 1920;



        var leftRatio = 870 / imageWidth;

        var topRatio = 740 / imageHeight;

        var rightRatio = 980 / imageWidth;

        var bottomRatio = 830 / imageHeight;



        var horizontalRatio = posX / frame.width;

        var verticalRatio = posY / frame.height;



        if(isInRegion(horizontalRatio, verticalRatio, topRatio, bottomRatio, leftRatio, rightRatio )){

            show_1_2();

        }

    }



    function onRestartClick(event,img) {

        var posX = event.offsetX?(event.offsetX):event.pageX-img.offsetLeft;

        var posY = event.offsetY?(event.offsetY):event.pageY-img.offsetTop;



        var frame = document.getElementById("frame");



        var imageHeight = 1080;

        var imageWidth = 1920;



        var leftRatio = 1780 / imageWidth;

        var topRatio = 940 / imageHeight;

        var rightRatio = 1900 / imageWidth;

        var bottomRatio = 1060 / imageHeight;



        var horizontalRatio = posX / frame.width;

        var verticalRatio = posY / frame.height;



        if(isInRegion(horizontalRatio, verticalRatio, topRatio, bottomRatio, leftRatio, rightRatio )){

            show_cover_1();

            return true;

        }

        return false;

    }



    function onInstructionsClick(event,img) {

        var posX = event.offsetX?(event.offsetX):event.pageX-img.offsetLeft;

        var posY = event.offsetY?(event.offsetY):event.pageY-img.offsetTop;



        var frame = document.getElementById("frame");



        var imageHeight = 1080;

        var imageWidth = 1920;



        var leftRatio = 990 / imageWidth;

        var topRatio = 1000 / imageHeight;

        var rightRatio = 1270 / imageWidth;

        var bottomRatio = 1070 / imageHeight;



        var horizontalRatio = posX / frame.width;

        var verticalRatio = posY / frame.height;



        if(isInRegion(horizontalRatio, verticalRatio, topRatio, bottomRatio, leftRatio, rightRatio )){

            window.open("src/app/assets/ipFrames/Batch_out_instructions.pdf", "_blank")

            return true;

        }

        return false;

    }



    function isInRegion(horizontalRatio, verticalRatio, topRatio, bottomRatio, leftRatio, rightRatio ){

        if(horizontalRatio < leftRatio){

            return false;

        }

        if(horizontalRatio > rightRatio){

            return false;

        }

        if(verticalRatio < topRatio){

            return false;

        }

        if(verticalRatio > bottomRatio){

            return false;

        }

        return true;

    }



    function contains(set, subset){

        if(set.indexOf(subset) > -1) {

            return true;

        }

        return false;

    }*/
    </script>