<div class="tutorial-container">
    <!--Info Section -->
    <div class="row">
        <!--Sticky Sidebar -->

        <div class="col-sm-1"></div>
        <div class="col-md-11">
            <div id="act-today" class="Tutorial-lead-text">IP Software Update Instructions</div>
            <div>Please use the arrows to navigate through the tutorial</div>
        </div>
    </div>
    <div id="EMV" >
        <div ng-click="frameClick($event)" style="display:block; position:relative; height: 100%">

            <div id="pusher"></div>

            <script>
                var ms = function(e){
                    var h = $('#frame').height();
                    $('#pusher').css('height',h);
                    $('.arrow').css('height',(h/1080.0)*313*1.4);
                };
                $(function(){window.setTimeout(ms,100);$(window).resize(ms);});
            </script>

            <div style="position: absolute; z-index: 1; left: 0; top: 0;">
                <img class="tutorial-image" id="frame" src="src/app/assets/ipFrames/Cover_1.jpg" width="100%"></img>
                <div class="arrow-container">
                    <img class="left-arrow" ng-hide="fi == 0" ng-click="goBack($event)" src="src/app/assets/ipFrames/arrows/t-left-arrow.png">
                    <img class="right-arrow" ng-click="goForward($event)" style="float: right;" src="src/app/assets/ipFrames/arrows/t-right-arrow.png">
                </div>
            </div>

        </div>

    </div>

    <div id="myCanvas" width="578" height="400"></div>
    <!-- Need help sticky-->
    <div data-ng-include="'src/app/js/components/Help/templates/need-help-sticky.html'"></div>
    <!-- include tell us section -->
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="tutorial-tell-us">
                <div class="p-tells-us">
                    <p class="tell-us-heading">Tell us about your EMV payment terminal update</p>
                    <p class="tell-us-paragraph">How was your payment terminal update experience? Please help us
                        serve you better by taking 2 minutes to complete our survey.</p>
                    <div class="tutorial-survey-btn-container">
                        <a target="_blank" href="https://www.worldpay.us/emvsurvey" class="btn btn-default tutorial-survey-btn">Take the survey</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ft-tutorial-contact-container" data-ng-include="'src/app/js/components/templates/contact-customer-service.html'"></div>

</div>
