
<div class="modal-body">
    <button type="button" class="modal-button-close" ng-click="cancel()"><img src="src/app/assets/img/x-out.png"></button>
    <div class="not-sure-of-connection-container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="not-sure-heading">Not sure of your connection type?</div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <img class="not-sure-img" src="src/app/assets/img/EMV-IP-Bottom.jpg">
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="not-sure-grey-container">
                    <div class="not-sure-connection-heading">Dial-Up Connection</div>
                    <div class="not-sure-paragraph">For customers with a dial-up connection plugged into your terminal, download instructions are
                        currently not available, but will be coming soon.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <img class="not-sure-img" src="src/app/assets/img/EMV-Dial-Top.jpg">
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="not-sure-grey-container">
                    <div class="not-sure-connection-heading">IP Connection</div>
                    <div class="not-sure-paragraph">For customers with an Ethernet cable plugged into your terminal, follow the IP download
                        instructions for your software update.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>