<h1>Order a Chip Card-Enabled Terminal or PIN Pad</h1>
<p style="max-width: 675px;">
    If you don’t have time for the software update, purchase a replacement terminal
    that is ready to accept chip cards.  You can also use this form to inquire about a chip-card enabled PIN Pad. With the PIN Pad,
    you can serve your customers with a better experience. There’s no need to move the terminal.
</p>
<p>
    Fill out the form below and a Worldpay sales associate will call you within x days to discuss pricing.
</p>
<div class="order-container">
    <!--Embedded Marketo Order Form -->

    <script src="//app-sj06.marketo.com/js/forms2/js/forms2.min.js"></script>
	<form id="mktoForm_1128"></form>
	<script>MktoForms2.loadForm("//app-sj06.marketo.com", "144-UCS-751", 1128);</script>
</div>
<!-- Need help sticky-->
<div data-ng-include="'src/app/js/components/Help/templates/need-help-sticky.html'"></div>