<!--Hero Section with Update EMV Button -->
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="jumbotron-emv101">
                <div class="hero-emv101-red-block"><p>EMV 101: Education and guidance for the global standard</p>
                </div>

            </div>
        </div>
        <div class="col-xs-4 col-sm-4">
            <div class="row hero-right-block-emv101">
                <div class="hero-right-bars">
                    <a ui-sref="steps"><p class="hero-choices emv-hero-choices">&gt Steps to prepare for the EMV update</p></a>
                    <a ui-sref="practices"><p class="hero-choices emv-hero-choices">&gt Best practices for running a pilot</p></a>
                    <a ui-sref="reader"><p class="hero-choices emv-hero-choices">&gt How to use a chip card reader</p></a>
                </div>
            </div>

        </div>
    </div>
    <!-- What is EMV? section-->
    <div class="what-is-emv-container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="what-is-emv-header">What is EMV?</div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <div><img src="src/app/assets/img/what-is-emv-terminal.png" class="what-is-terminal-mobile emv101-top-left-img"></div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <div>
                        <img src="src/app/assets/img/what-is-emv-right-grey-box.png" class="emv101-right-grey-box visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
                        <div class="what-is-paragraph">
                            <p>EMV is the chip card technology developed by Europay, Mastercard&reg; and Visa&reg;.
                                Its technology offers more transaction security, lowers the chances for fraud and improves customer confidence. <br/>
                            <a ui-sref="faqs" style="position:relative;color: #017867;top: 10px;">Get more information &gt</a></p>
                            <p style="position:relative; top: 20px;">Worldpay has developed a software upgrade that allows you to update your Worldpay payment terminal.</p><br/>
                            <a ui-sref="getUpdate" style="position:relative;color: #017867;top: 10px;">Get the software update now &gt</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Merchants Container-->
    <div class="merchants-container">
        <div class="row">
            <div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1">
                <div class="merchants-paragraph">
                    <p>Merchants who haven’t upgraded their terminals to enable EMV technology are now responsible for fraudulent chip card transactions.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1">
                <div class="merchants-header">
                    <p id="steps">Steps to prepare for the EMV update</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-xs-offset-1 col-sm-6 col-sm-offset-1">
                <img src="src/app/assets/img/emv101-terminal.png" class="emv101-bullets-left-img visible-sm-inline-block visible-lg-inline-block visible-md-inline-block" width="554" height="460">
                <div class="emv101-terminal visible-xs-inline-block"></div>
            </div>
            <div class="col-xs-10 col-sm-5">
                <div class="merchants-right-header">
                    <ol type="1">
                        <div class="merchants-divider"><img class="ip-img" src="src/app/assets/img/sm-divider.png">
                        </div>
                        <li>Be sure you have an EMV-capable terminal</li>
                        <div class="merchants-right-paragraph">Your terminal should have both a swipe for magnetic stripe cards
                            and a slot for inserting chip cards.
                        </div>
                        <br>
                        <div class="merchants-divider"><img class="ip-img" src="src/app/assets/img/sm-divider.png">
                        </div>
                        <li>Plan the time for the update</li>
                        <div class="merchants-right-paragraph">Pick a slow day of the week, preferably after business hours.
                        </div>
                        <br>
                        <div class="merchants-divider"><img class="ip-img" src="src/app/assets/img/sm-divider.png">
                        </div>
                        <li>Close and batch out before you update even if you auto settle</li>
                        <div class="merchants-right-paragraph">Settle transactions and run any end-of-day reports.</div>
                        <br>
                        <div class="merchants-divider"><img class="ip-img" src="src/app/assets/img/sm-divider.png"></div>
                        <!--<li>Run test transactions</li>
                        <div class="merchants-right-paragraph">Use a chip and make a 1($.01) transaction.</div>
                        <br>
                        <div class="merchants-divider"><img class="ip-img" src="src/app/assets/img/sm-divider.png">
                        </div>-->
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Best Practices Container-->
    <div class="best-practice-container">
        <div class="row">
            <div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1">
                <div id="practices" class="best-practice-header">Best practices for running a pilot</div>
                <div class="best-practice-header-sm">If you operate multiple locations, install required EMV software
                    and hardware in one store first to run a pilot.
                </div>
            </div>
        </div>
        <!-- Best Practices Red Circles -->
        <div class="red-circle-container">
            <div class="row">
                <div class="col-xs-4 col-sm-4">
                    <img src="src/app/assets/img/bp-term.png" class="img-responsive">
                    <div class="red-circle-paragraph">Make sure staff is trained on chip card transactions.</div>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <img src="src/app/assets/img/bp-tree.png" class="img-responsive">
                    <div class="red-circle-paragraph">Display EMV symbol to let cardholders know where they can make
                        chip card payments.
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4">
                    <img src="src/app/assets/img/bp-doc.png" class="img-responsive">
                    <div class="red-circle-paragraph">Document problems and what went well in the pilot before rolling
                        out to remaining locations.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- How to use a chip card reader section-->
    <div class="ccr-container">
        <div class="cc-label-container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div id="reader">Download the Tent card</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                <div class="cc-grey-rect">
                    <img src="src/app/assets/img/grey_rect.png" class="img-responsive emv101-grey-rect">
                </div>
                <div class="cc-img-container">
                    <div><img src="src/app/assets/img/one.png" class="img-responsive"></div>
                    <div><img src="src/app/assets/img/one_Terminal.png" class="img-responsive"></div>
                    <div class="ccr-paragraph-container">
                        <div class="ccr-paragraph-header">Insert chip card</div>
                        <div>Place the chip end of card face up into the terminal instead of swiping it.</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4">
                <div class="cc-grey-rect">
                    <img src="src/app/assets/img/grey_rect.png" class="img-responsive emv101-grey-rect">
                </div>
                <div class="cc-img-container">
                    <div><img src="src/app/assets/img/two.png" class="img-responsive"></div>
                    <div><img src="src/app/assets/img/two_Terminal.png" class="img-responsive" style="margin-bottom: 29px;"></div>
                    <div class="ccr-paragraph-container follow-prompt">
                        <div class="ccr-paragraph-header">Follow the prompts</div>
                        <div>Provide your signature or PIN if requested.</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4">
                <div class="cc-grey-rect">
                    <img src="src/app/assets/img/grey_rect.png" class="img-responsive emv101-grey-rect">
                </div>
                <div class="cc-img-container">
                    <div><img src="src/app/assets/img/three.png" class="img-responsive"></div>
                    <div><img src="src/app/assets/img/one_Terminal.png" class="img-responsive"></div>
                    <div class="ccr-paragraph-container">
                        <div class="ccr-paragraph-header">Remove your card</div>
                        <div>Remove the card from the terminal when prompted.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Download the tent card button section-->
    <div class="download-btn-container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div>
                    <a class="btn btn-default download-btn-test-card" style="color:black;" target="_blank" href="src/app/assets/pdf/how-to-use-cc.pdf">Print the Tent Card</a>
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- Ready for update template-->
<div data-ng-include="'src/app/js/components/templates/ready-for-update.html'"></div>
<!-- Need help sticky-->
<div data-ng-include="'src/app/js/components/Help/templates/need-help-sticky.html'"></div>
<div class="emv101-contact-container"
     data-ng-include="'src/app/js/components/templates/contact-customer-service.html'"></div>
</div>