<!--Hero Section with Update EMV Button -->
<div>
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="jumbotron-emv101">
                <div class="hero-post-support-red-block"><p>Worldpay has you covered</p>
                </div>

            </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
            <div class="row hero-right-block-emv101">
                <div class="hero-right-bars">
                    <a ui-sref="prevent-fraud"><p class="hero-choices emv-hero-choices">&gt Chip card fraud and responsibility</p></a>
                    <a ui-sref="training-materials"><p class="hero-choices emv-hero-choices">&gt Training materials</p></a>
                    <a ui-sref="chip-reader"><p class="hero-choices emv-hero-choices">&gt How to use a chip card reader</p></a>
                </div>
            </div>

        </div>

        <div class="col-xs-4 col-sm-4 hidden-md hidden-lg">
            <div class="row hero-right-block-emv101">
                <div class="hero-right-bars">
                    <a href="src/app/assets/pdf/cc-fraud.pdf" target="_blank"><p class="hero-choices emv-hero-choices">&gt Chip card fraud and responsibility</p></a>
                    <a ui-sref="training-materials"><p class="hero-choices emv-hero-choices">&gt Training materials</p></a>
                    <a ui-sref="chip-reader"><p class="hero-choices emv-hero-choices">&gt How to use a chip card reader</p></a>
                </div>
            </div>

        </div>
    </div>

    <!-- Chip card fraud and liability-->
    <div class="cc-fraud-container hidden-xs hidden-sm">
        <div class="row">
            <div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1">
                <div class="merchants-header">
                    <p id="prevent-fraud" class="visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">Chip card fraud and responsibility</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-xs-offset-1 col-sm-3 col-sm-offset-1">
                <div class="cc-present-transactions">
                    <img src="src/app/assets/img/cc-fraud.png" class="cc-fraud-img visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
                </div>
            </div>
        </div>
    </div>
    <!-- Merchants Container-->
    <div class="training-materials-container">
        <div class="row">
            <div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1">
                <div class="merchants-paragraph">
                    <p><a ui-sref="faqs" style="color:#007867;">Click here for more chip card fraud information &gt</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1">
                <div class="merchants-header">
                    <p id="training-materials">Training materials</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!--left side-->
            <div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1">
                <div><img src="src/app/assets/img/training-materials-left.png" class="training-materials-mobile training-materials-img"></div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="support-right-side-ip">
                    <div class="sm-divider"><img class="training-img" src="src/app/assets/img/sm-divider.png"></div>
                    <a class="right-side-styles" target="_blank" href="src/app/assets/pdf/top-questions.pdf"><p class="ip-block-light">Top Questions &nbsp <img src="src/app/assets/img/pdf-icon.png"></p></a>
                    <div class="sm-divider"><img class="training-img" src="src/app/assets/img/sm-divider.png"></div>
                    <a class="right-side-styles" ui-sref="faqs"><p class="ip-block-light">FAQs</p></a>
                    <div class="sm-divider"><img class="training-img" src="src/app/assets/img/sm-divider.png"></div>
                    <a class="right-side-styles" target="_blank" href="src/app/assets/pdf/qr-restaurants.pdf"><p class="ip-block-light">Quick Reference Guide Restaurants &nbsp <img src="src/app/assets/img/pdf-icon.png"></p></a>
                    <div class="sm-divider"><img class="training-img" src="src/app/assets/img/sm-divider.png"></div>
                    <a class="right-side-styles" target="_blank" href="src/app/assets/pdf/qr-retail.pdf"><p class="ip-block-light">Quick Reference Guide Retail &nbsp <img src="src/app/assets/img/pdf-icon.png"></p></a>
                    <div class="sm-divider"><img class="training-img" src="src/app/assets/img/sm-divider.png"></div>
                    <a class="right-side-styles" target="_blank" href="src/app/assets/pdf/how-to-use-cc.pdf"><p class="ip-block-light">How to use chip card tent card &nbsp <img src="src/app/assets/img/pdf-icon.png"></p></a>
                    <div class="sm-divider"><img class="training-img" src="src/app/assets/img/sm-divider.png"></div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- How to use a chip card reader section-->
    <div class="ccr-container">
        <div class="cc-label-container">
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <div id="chip-reader">How to use a chip card reader</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4">
                <div class="cc-grey-rect">
                    <img src="src/app/assets/img/grey_rect.png" class="img-responsive">
                </div>
                <div class="cc-img-container">
                    <div><img src="src/app/assets/img/one.png" class="img-responsive"></div>
                    <div><img src="src/app/assets/img/one_Terminal.png" class="img-responsive"></div>
                    <div class="ccr-paragraph-container">
                        <div class="ccr-paragraph-header">Insert chip card</div>
                        <div>Place the chip end of card face up into the terminal instead of swiping it.</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4">
                <div class="cc-grey-rect">
                    <img src="src/app/assets/img/grey_rect.png" class="img-responsive">
                </div>
                <div class="cc-img-container">
                    <div><img src="src/app/assets/img/two.png" class="img-responsive"></div>
                    <div><img src="src/app/assets/img/two_Terminal.png" class="img-responsive" style="margin-bottom: 29px;"></div>
                    <div class="follow-prompt">
                        <div class="ccr-paragraph-header">Follow the prompts</div>
                        <div>Provide your signature or PIN if requested.</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4">
                <div class="cc-grey-rect">
                    <img src="src/app/assets/img/grey_rect.png" class="img-responsive">
                </div>
                <div class="cc-img-container">
                    <div><img src="src/app/assets/img/three.png" class="img-responsive"></div>
                    <div><img src="src/app/assets/img/one_Terminal.png" class="img-responsive"></div>
                    <div class="ccr-paragraph-container">
                        <div class="ccr-paragraph-header">Remove your card</div>
                        <div>Remove the card from the terminal when prompted.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Download the tent card button section-->
    <div class="download-btn-container">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div>
                    <a class="btn btn-default download-btn-test-card" style="color:black;" target="_blank" href="src/app/assets/pdf/how-to-use-cc.pdf">Print the Tent Card</a>
                </div>
            </div>
        </div>
    </div>

<!-- Ready for an update?-->
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="ready-to-update">
            <div class="p-tells-us">
                <p class="ready-to-order-heading">Ready to update?</p>
                <div class="survey-btn-container">
                    <a ui-sref="getUpdate" class="btn btn-default survey-btn">Get the EMV Update</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Need help sticky-->
<div data-ng-include="'src/app/js/components/Help/templates/need-help-sticky.html'"></div>
<div class="emv101-contact-container"
     data-ng-include="'src/app/js/components/templates/contact-customer-service.html'"></div>
</div>