
<!-- Faqs Container-->
<div class="faqs-container">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-8">
            <div class="faqs-heading">FAQs</div>
            <!-- FAQs Tabs-->
            <div id="tabs">
                <ul>
                    <li><a class="faq-tabs" href="#tabs-1">General</a></li>
                    <li><a class="faq-tabs" href="#tabs-2">How to update</a></li>
                    <li><a class="faq-tabs" href="#tabs-3">After you update</a></li>
                </ul>
                <div id="tabs-1">
                    <div class="faqs-question-container">
                    <div class="faqs-title">Why have merchants in the United States moved to the EMV chip card standard?</div>
                        <div class="faqs-paragraph"><p>The chips embedded in the new cards help keep identity thieves from easily accessing consumers&#39; personal information. They also give merchants a way to make payment transactions more secure for their customers at the point of sale.</p>
                        <p>Additionally, special EMV chip-card readers give merchants greater protection fromresponsibility should they ever accept an in-store payment with a counterfeit or fraudulent card. This shift in financial responsibility for card fraud – from banks to merchants – went into effect on October 1, 2015.</p>
                        </div>
                        <br>
                        <img src="src/app/assets/img/how-to/divider.png" class="faqs-divider"/>
                        <br>
                        <div class="faqs-title">What does the financial responsibility shift mean and how could it affect my business?</div>
                        <div class="faqs-paragraph"><p>Retailers and small business owners who haven&#39;t upgraded their payment terminals with EMV chip-card software are liable for any transaction from a counterfeit chip card.</p>

                        <p>This shift in financial responsibility for card fraud went into effect on October 1, 2015. Here's <a ui-sref="post-support">an infographic explaining this shift</a> in more detail.</p>

                        <p>The responsibility shift can mean several things to you. Primarily, it means the cost of card fraud shifts to any merchant who accepts counterfeit chip-card payments using magnetic stripe payment terminals.</p>

                        <p>However, you're better protected from responsibility if you have a chip-enabled payment terminal and someone makes a purchase with a counterfeit chip card. If that happens, the bank that issued the card remains responsible for the cost of the fraud.</p>

                        <p>Here's what this means to you:</p>

                        <ul>
                            <li>If your payment terminal can accept chip cards, and a customer tries to use a counterfeit or fraudulent chip card, it likely will be declined.</li>
                            <li>If it is not, and the payment goes through, then the bank that issued the card is responsible for the fraudulent amount – not you.</li>
                            <li>If you do not have a chip card terminal, and a customer uses a counterfeit or fraudulent chip card to pay, then you are responsible for the fraudulent amount.</li>
                        </ul>






                        </div>
                        <br>
                        <img src="src/app/assets/img/how-to/divider.png" class="faqs-divider"/>
                        
                        <div class="faqs-title">When should I plan to update my VX 520 terminal to accept chip cards?</div>
                        <div class="faqs-paragraph"><p>The update must happen outside of business hours and after you batch out or settle. If you run the software update before you batch out or settle, Worldpay will have no record of your transactions and you will lose all previously unsettled sales.</p> 
                        <p>If you auto settle, you must manually run a detailed report before running the update. The detailed report must read "zero" transactions before the software update.</p></div>
                        <br>
                        <img src="src/app/assets/img/how-to/divider.png" class="faqs-divider"/>
                        <br>
                        <div class="faqs-title">Will chip card transactions take longer?</div>
                        <div class="faqs-paragraph"><p>Because chip card transactions are more secure and must remain in the terminal until the data transmission is complete, a transaction may take a little bit longer compared to a traditional swipe transaction.</p></div>
                        <br>
                        <img src="src/app/assets/img/how-to/divider.png" class="faqs-divider"/>
                        <br>
                        <div class="faqs-title">Will my rates change as a result of chip card enablement?</div>
                        <div class="faqs-paragraph"><p>Accepting chip cards does not affect your transaction rates.</p></div>
                        <br>
                        <img src="src/app/assets/img/how-to/divider.png" class="faqs-divider"/>
                    </div>
                </div>
                <div id="tabs-2">
                    <div class="faqs-question-container">
                        <div class="faqs-title">How long will the update take? (What can I expect? Will I need to wait until it completes?)</div>
                        <div class="faqs-paragraph"><p>While exact times may vary depending on your terminal's internet/IP connection, a typical update should take 10 minutes or less to complete. As the update will require entering screen prompts on your terminal and could time-out if you step away, you should stay with it until it completes.</p></div>
                        <br>
                        <img src="src/app/assets/img/how-to/divider.png" class="faqs-divider"/>
                        <br>
                        <div class="faqs-title">When should I conduct my update?</div>
                        <div class="faqs-paragraph"><p>You must perform the update outside of business hours. We recommend doing this the night before your slowest business day. Ensure that any issues encountered during the download process can be resolved without impacting your business. Your terminal will not be able to accept payment during the update process.</p></div>
                        <br>
                        <img src="src/app/assets/img/how-to/divider.png" class="faqs-divider"/>
                        <br>
                        <div class="faqs-title">What if I update the software before I batch out or settle for the day?</div>
                        <div class="faqs-paragraph"><p>You must batch out or settle before updating the software. If you update the software before you batch out or settle for the day you will lose all previously unsettled sales and cannot be paid for them. If your business auto settles each day you must proceed with this step manually just this one time.</p></div>
                        <br>
                        <img src="src/app/assets/img/how-to/divider.png" class="faqs-divider"/>
                        <br>
                        <div class="faqs-title">I have multiple terminals. Do I need to update the software to each terminal separately?</div>
                        <div class="faqs-paragraph"><p>Yes, each terminal requires its own update.</p></div>
                        <br>
                        <img src="src/app/assets/img/how-to/divider.png" class="faqs-divider"/>
                        <br/>
                        <div class="faqs-title">What password do I need to use during the software update process?</div>
                        <div class="faqs-paragraph"><p>The update instructions include a generic password for the software installation. Use this if you have not created a custom password in your terminal settings. If you have created your own custom password for your terminal, you must use that password and not the generic password in the instructions.
                        </p></div>
                        <br>
                        <img src="src/app/assets/img/how-to/divider.png" class="faqs-divider"/>
                        <br>
                    </div>
                </div>
                <div id="tabs-3">
                    <div class="faqs-question-container">
                        <div class="faqs-title">Will my customers know how to use chip cards?</div>
                        <div class="faqs-paragraph"><p>You may need to help them the first time, but using chip cards is easy. The only real difference from traditional magnetic-stripe cards is that a chip card is inserted into the terminal reader instead of swiped. If you swipe the chip card first, the terminal will instruct you to insert it into the chip reader. After that, whether it's a credit, or return/refund, the terminal prompts are the same. If the card is removed before the end of a transaction, the payment will not be processed.</p></div>
                        <br>
                        <img src="src/app/assets/img/how-to/divider.png" class="faqs-divider"/>
                        <br>
                        <div class="faqs-title">After my terminal is updated to accept chip cards, will my customers still be able to swipe their credit cards? (What if a customer does not have a chip card?)
                        </div>
                        <div class="faqs-paragraph"><p>Your chip card-enabled terminal will still process traditional magnetic stripe cards as they always have. If you try to swipe a chip card, however, you will be prompted to insert it into the chip reader.</p>
                        <p>In the rare situations where the chip on the card or the chip reader in the EMV terminal isn't working, the terminal will instruct you to swipe the card through the magnetic stripe reader. This is called a "technical fallback" transaction and may be performed in case of technical inability between the chip card and the terminal to perform the chip transaction. Technical fallback transactions do not shift fraud responsibility to the merchant.</p></div>
                        <br>
                        <img src="src/app/assets/img/how-to/divider.png" class="faqs-divider"/>
                        <br>
                        <div class="faqs-title">What if I can't go online and I run an offline transaction approved by the chip card?</div>
                        <div class="faqs-paragraph"><p>In the U.S., all chip card transactions are required to go online and the terminal should be configured to routinely request an online authorization independently from the floor limit setting.</p>
                        <p> Worldpay requires the floor limit set to a zero (0) value. However, Worldpay may allow the floor limit parameter to be aligned to card brands' floor limits for offline authorization; for example, MasterCard($200 USD) and Discover ($300 USD)</p></div>
                        <br>
                        <img src="src/app/assets/img/how-to/divider.png" class="faqs-divider"/>
                        <br>
                        <div class="faqs-title">How do I run returns or refund a transaction?</div>
                        <div class="faqs-paragraph"><p>Returns and refunds on chip card transactions are performed the same as with traditional magnetic-stripe cards. The only difference is you will need to insert the chip card instead of swiping. Voids and returns with just the account number will also work the same as before.</p></div>
                        <br>
                        <img src="src/app/assets/img/how-to/divider.png" class="faqs-divider"/>
                        <br>
                        <div class="faqs-title">How do I train my staff to accept chip cards? What do they need to know?</div>
                        <div class="faqs-paragraph"><p>Chip cards are easy to use. The only real difference from traditional magnetic-stripe cards is that a chip card is inserted into the terminal reader instead of swiped. If you swipe the chip card first, the terminal will instruct you to insert it into the chip reader. After that, whether it's a credit, or return/refund, the terminal prompts are the same. If the card is removed before the end of a transaction, the payment will not be processed.</p>
                        <p>To process a chip card transaction, follow these simple three steps:</p>
                        <!-- Five steps list-->
                        <ol type="1" class="five-steps-list">
                            <li>If it&#39;s a chip card, the customer should insert it into the chip card reader (slot on the bottom-front of the terminal) and leave it there until the transaction is complete.</li>
                            <li>Follow the usual prompts displayed on the terminal.</li>
                            <li>Complete the transaction by having the customer sign the receipt (when required).</li>
                        </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
            <div class="helpful-links-heading">Helpful Links</div>
            <div class="helpful-link-label"><a ui-sref="getUpdate" class="helpful-links">How to update now</a></div>
            
            
            <div class="helpful-link-label"><a ui-sref="steps" class="helpful-links">Steps to prepare for the EMV update</a></div>
            <div class="helpful-link-label"><a ui-sref="reader" class="helpful-links">How to use a chip card reader</a></div>
            <div class="helpful-link-label"><a ui-sref="training-materials" class="helpful-links">Training materials</a></div>
            <div class="helpful-link-label"><a ui-sref="prevent-fraud" class="helpful-links">Chip card fraud and responsibility</a></div>
        </div>
    </div>
</div>
<!-- Still can't find what your looking for section-->
<div class="still-cant-find-container">
    <div class="row">
        <div class="col-xs-12 col-xs-offset-1 col-sm-6 col-sm-offset-1">
            <div class="still-cant-contact">Still can't find what your looking for?</div>
        </div>
        <div class="col-sm-5">
            <a ui-sref="contact" class="btn btn-default contact-us-btn">Contact Us</a>
        </div>
    </div>
</div>
<!-- Ready for update template-->
<div data-ng-include="'src/app/js/components/templates/ready-for-update.html'"></div>
<!-- Need help sticky-->
<div data-ng-include="'src/app/js/components/Help/templates/need-help-sticky.html'"></div>
<div class="emv101-contact-container" data-ng-include="'src/app/js/components/templates/contact-customer-service.html'"></div>